*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

.headerMain{
    background: url("../assets/img/IMAGE\ \(18\).png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

@media screen and (max-width: 2560px){
    .icon{
        width: 120px;
        height: 120px;
    }
}

@media screen and (max-width: 1440px){
    .icon{
        width: 80px;
        height: 80px;
    }
}

@media screen and (max-width: 768px){
    .icon{
        width: 60px;
        height: 60px;
    }
}

